#newProject {
    margin-top: 5rem;
    padding: 2rem;
    width: 600px;
}

#newProject menu {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#newProject menu li {
    list-style: none;
}

#newProject button {
    cursor: pointer;
    letter-spacing: 0.7px;
    transition: 0.2s ease-out;
}

#newProject .cancelBtn {
    border: none;
    background: transparent;
    text-transform: capitalize;
    color: #061f22;
}

#newProject .cancelBtn:hover {
    color: red;
}

#newProject .saveBtn {
    padding-inline: 1rem;
    padding-block: 0.3rem;
    font-weight: 500;
    text-transform: capitalize;
    border: none;
    background-color: #395351;
    color: #e3fef7;
    border-radius: 7px;
}

#newProject .saveBtn:hover {
    background-color: #77b0aa;
    color: #012327;
}
