#newTask {
    margin-block: 1rem;
}

#newTask input {
    padding: 0.3rem;
    margin-inline-end: 2rem;
    width: 400px;
    background-color: #dae2e1;
    border: none;
    outline: none;
    border-bottom: 2px solid #474b4a;
    border-radius: 2px;
}

#newTask button {
    border: none;
    background: transparent;
    text-transform: capitalize;
    color: #061f22;
    height: 20px;
    cursor: pointer;
}
