#project {
    width: 600px;
    margin-top: 1rem;
    padding: 2rem;
}

#project .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#project .header h1 {
    text-transform: capitalize;
    color: #061f22;
}

#project .header button {
    border: none;
    background: transparent;
    text-transform: capitalize;
    color: #061f22;
    height: 20px;
    cursor: pointer;
}

#project .header button:hover {
    color: red;
}

#project .date {
    font-size: 0.8rem;
    color: #1e3a3d;
    font-weight: bold;
}

#project .description {
    margin-top: 1.5rem;
    color: #1e3a3d;
    font-size: 0.9rem;
    font-weight: 500;
}

#project hr {
    margin-block: 2rem;
    border: none;
    border-top: 1px solid #424e50;
}
